@model Book

<!--
<div class="col-4">
    <div class="card">
        <img src="@Model.ImgURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Author, @Model.Pages Pages</p>

            <a href="#" class="btn btn-primary">Show Book</a>
        </div>
    </div>
</div>
-->

<div class="col">
    <div class="card mb-3 rounded-5" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.ImgURL" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <h6 class="card-title">@Model.Author</h6>
                    <p class="card-text"><small class="text-muted">@Model.Pages Pages</small></p>
                    <button type="button" class="btn btn-secondary">View Book</button>
                </div>
            </div>
        </div>
    </div>
</div>